<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Email List</title>
</head>

<body>

    <div id="root">
        <input type="number" v-model="lengthMailingList" @keyup.enter="getMailingList">
        <template v-if="list.visible">
            <button @click="addEmail">
                <i class="fas fa-plus-circle"></i>
            </button>
            <ul>
                <li v-for="(email,index) in list.emails" :key="index">
                    <template v-if="email.editMode">
                        <input type="text" v-model="email.text" @keyup.enter="saveEditedEmail(index)"
                            placeholder="Insert email...">
                        <i class="fas fa-times-circle" @click="deleteEmail(index)"></i>
                    </template>
                    <span v-else @click="editEmail(index)">
                        {{email.text}}
                    </span>
                </li>
            </ul>
        </template>
        <template v-else>
            <i class="fas fa-sync-alt"></i>
        </template>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"
        integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>